<p-table #pt tableStyleClass="tasks-table" [value]="items" [globalFilterFields]="['name', 'taskNumber']" dataKey="id">
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr class="task-project" *ngIf="rowGroupMetadata[item.projectId].index === rowIndex">
      <td class="task-project__cell" colspan="5">
        <h4 class="task-project__name p-ml-2 p-my-0">{{ item.projectName }}</h4>
      </td>
    </tr>

    <tr class="task">
      <td class="task__cell" colspan="2">
        <span class="task__number">#{{ item.taskNumber }}</span>

        <span class="task__name p-ml-2">{{ item.name }}</span>
      </td>

      <td class="task__cell">
        <i
          class="task__status pi"
          [ngClass]="{
            'pi-clock': item.status === TaskStatus.InProgress,
            'pi-check': item.status === TaskStatus.Done
          }"
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-add-btn (clickBtn)="onAddBtnClick()"></app-add-btn>
