.task-project {
  &__name {
    line-height: 2.357rem;
    display: inline-block;
  }
}

.task {
  &__number {
    color: var(--text-color-secondary);
  }

  &__name {
    text-transform: capitalize;
  }
}
