<form class="p-fluid" [formGroup]="form" novalidate (ngSubmit)="submit(form.value, form.valid)">
  <div class="p-field">
    <label for="task-number">Task Number</label>
    <input id="task-number" type="text" pInputText formControlName="taskNumber" />
  </div>

  <div class="p-field">
    <label for="name">Name</label>
    <input id="name" type="text" pInputText formControlName="name" />

    <small
      class="p-invalid"
      [hidden]="form.controls.name.valid || (form.controls.name.pristine && !isSubmitted)"
      id="name-help"
      >Name is required.</small
    >
  </div>

  <div class="p-field">
    <label for="project">Project</label>
    <p-autoComplete
      [suggestions]="displayedProjects"
      [dropdown]="true"
      [forceSelection]="true"
      field="name"
      appendTo="body"
      (completeMethod)="search($event)"
      (onSelect)="onProjectSelect($event)"
    ></p-autoComplete>

    <small
      class="p-invalid"
      [hidden]="form.controls.projectId.valid || (form.controls.projectId.pristine && !isSubmitted)"
      id="project-help"
      >Project is required.</small
    >
  </div>

  <button type="submit" pButton>Submit</button>
</form>
