:host ::ng-deep {
  .add-btn.p-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all 0.3s ease-in-out;

    &.p-button-icon-only {
      height: 60px;
      width: 60px;
    }

    &:enabled:hover {
      transform: scale(1.25) rotate(-10deg);
    }
  }
}
