<p-table
  #pt
  [value]="projects"
  dataKey="id"
  editMode="row"
  [editingRowKeys]="editingRowKeys"
  [globalFilterFields]="['name']"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>

      <th>Status</th>

      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-project let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="project">
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="project.name" required cdkTrapFocus cdkTrapFocusAutoCapture />
          </ng-template>

          <ng-template pTemplate="output">{{ project.name }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <i
          class="pi"
          [ngClass]="{
            'pi-cloud-upload': project.syncStatus === SyncStatus.Cached,
            'pi-check': project.syncStatus === SyncStatus.Synced
          }"
        ></i>
      </td>

      <td style="text-align: center">
        <ng-container *ngIf="!editing; else editBtns">
          <button
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(project)"
            class="p-button-rounded p-button-text"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-trash"
            (click)="onRowDelete(project, ri)"
            class="p-button-rounded p-button-text"
          ></button>
        </ng-container>

        <ng-template #editBtns>
          <button
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(project, ri)"
            class="p-button-rounded p-button-text p-button-success p-mr-2"
            [disabled]="!project.name"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(project, ri)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td>No projects found.</td>
    </tr>
  </ng-template>
</p-table>

<app-add-btn (clickBtn)="onAddBtnClick()"></app-add-btn>
