<div class="layout-topbar">
  <a href="#" id="layout-menu-btn" class="menu-btn" (click)="app.onMenuButtonClick($event)">
    <i class="pi pi-bars"></i>
  </a>

  <div class="topbar-search">
    <input type="text" class="ui-widget" />
    <i class="pi pi-search"></i>
  </div>

  <div *ngIf="authService.userState as user" class="layout-topbar-menu-wrapper">
    <ul class="topbar-menu fadeInDown" [ngClass]="{ 'topbar-menu-active': app.topbarMenuActive }">
      <li class="profile-item" #profile [ngClass]="{ 'active-topmenuitem': app.activeTopbarItem === profile }">
        <a href="#" (click)="app.onTopbarItemClick($event, profile)">
          <img [src]="user.photoURL" alt="user photo" />
          <span class="topbar-item-name profile-name">{{ user.displayName }}</span>
        </a>

        <ul class="fadeInDown animated">
          <li role="menuitem">
            <a href="#" (click)="app.onTopbarSubItemClick($event); logout()">
              <i class="pi pi-fw pi-sign-out"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMenuButtonClick($event)">
      <img [src]="user.photoURL" alt="user photo" />
    </a>
  </div>
</div>
