$primaryColor: #136a8a;
$primaryTextColor: #ffffff;
$sidebarTopStartBgColor: #136a8a;
$sidebarTopEndBgColor: #267871;
$sidebarAnchorColor: #ffffff;
$menuitemActiveColor: #2a92b8;
$rootMenuitemActiveIconColor: #ffffff;
$menuitemBadgeBgColor: #feb10f;
$menuitemBadgeTextColor: #333333;
$horizontalLayoutTopbarTextColor: #ffffff;
$horizontalLayoutTopbarTextHoverColor: #acdaeb;

@import "../../sass/layout/_layout";
